## Setup py requirements
## RASA
rasa
pandas
numpy

## Deepspeech
SpeechRecognition
deepspeech


## Porcupine for STT
PyAudio
asyncio
pysoundfile
enum34

## TTS
pyttsx3==2.5


## Connection to RASA
Flask
Flask-RESTful
pyfiglet


